name: Build image on push
on:
  push:
    branches:
      - master
    paths:
      - 'root/**'
      - 'Dockerfile'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build image
      uses: docker/build-push-action@v1
      with:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        repository: pwatk/docker-aria2-with-webui/aria2-with-webui
        tag_with_ref: true
