name: Build image on push
on:
  push:
    branches:
      - master
    paths:
      - 'root/**'
      - 'Dockerfile'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Gather information
        id: tags
        run: |
          echo "epoch=$(date +'%s')" >> $GITHUB_OUTPUT
          ARIANG_REPO=https://api.github.com/repos/mayswind/AriaNg/releases/latest
          echo "ariang_tag=$(curl -sX GET $ARIANG_REPO | awk '/tag_name/{print $4;exit}' FS='[""]')" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/pwatk/aria2-with-webui:latest
            ghcr.io/pwatk/aria2-with-webui:${{ steps.tags.outputs.epoch }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
      - name: Create new release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tags.outputs.epoch }}
          name: ${{ steps.tags.outputs.epoch }}
