name: Check for updates
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Gather information
        id: tags
        run: |
          echo "::set-output name=date::$(date +'%y%m%d%H%M%S')"
          ARIA2_REPO=https://api.github.com/repos/aria2/aria2/releases/latest
          echo "::set-output name=aria2::$(curl -sX GET $ARIA2_REPO | awk '/published_at/{print $4;exit}' FS='[""]')"
          echo "::set-output name=aria2_tag::$(curl -sX GET $ARIA2_REPO | awk '/tag_name/{print $4;exit}' FS='[""]' | sed 's/release-//')"
          ARIANG_REPO=https://api.github.com/repos/mayswind/AriaNg/releases/latest
          echo "::set-output name=ariang::$(curl -sX GET $ARIANG_REPO | awk '/published_at/{print $4;exit}' FS='[""]')"
          echo "::set-output name=ariang_tag::$(curl -sX GET $ARIANG_REPO | awk '/tag_name/{print $4;exit}' FS='[""]')"
          THIS_REPO=https://api.github.com/repos/pwatk/docker-aria2-with-webui/releases/latest
          echo "::set-output name=repo::$(curl -sX GET $THIS_REPO | awk '/published_at/{print $4;exit}' FS='[""]')"
      - name: Set up QEMU
        if: steps.tags.outputs.aria2 > steps.tags.outputs.repo || steps.tags.outputs.ariang > steps.tags.outputs.repo
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        if: steps.tags.outputs.aria2 > steps.tags.outputs.repo || steps.tags.outputs.ariang > steps.tags.outputs.repo
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: steps.tags.outputs.aria2 > steps.tags.outputs.repo || steps.tags.outputs.ariang > steps.tags.outputs.repo
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push
        if: steps.tags.outputs.aria2 > steps.tags.outputs.repo || steps.tags.outputs.ariang > steps.tags.outputs.repo
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ghcr.io/pwatk/aria2-with-webui:latest
            ghcr.io/pwatk/aria2-with-webui:${{ steps.tags.outputs.date }}
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
      - name: Create new release
        if: steps.tags.outputs.aria2 > steps.tags.outputs.repo || steps.tags.outputs.ariang > steps.tags.outputs.repo
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tags.outputs.date }}
          name: ${{ steps.tags.outputs.date }}
          body: |
            Aria2: ${{ steps.tags.outputs.aria2_tag }}
            AriaNg: ${{ steps.tags.outputs.ariang_tag }}
