name: Build image on schedule
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check for new releases
        id: releases
        run: |
          ARIANG_REPO=https://api.github.com/repos/mayswind/AriaNg/releases/latest
          echo "::set-output name=ariang::$(curl -sX GET $ARIANG_REPO | awk '/published_at/{print $4;exit}' FS='[""]')"
          ARIA2_REPO=https://api.github.com/repos/aria2/aria2/releases/latest
          echo "::set-output name=aria2::$(curl -sX GET $ARIA2_REPO | awk '/published_at/{print $4;exit}' FS='[""]')"
          THIS_REPO=https://api.github.com/repos/pwatk/docker-aria2-with-webui/commits/master
          echo "::set-output name=repo::$(curl -sX GET $THIS_REPO | awk '/date/{print $4;exit}' FS='[""]')"
      - name: Set up QEMU
        if: steps.releases.outputs.ariang > steps.releases.outputs.repo || steps.releases.outputs.aria2 > steps.releases.outputs.repo
        uses: docker/setup-qemu-action@v1  
      - name: Set up Docker Buildx
        if: steps.releases.outputs.ariang > steps.releases.outputs.repo || steps.releases.outputs.aria2 > steps.releases.outputs.repo
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        if: steps.releases.outputs.ariang > steps.releases.outputs.repo || steps.releases.outputs.aria2 > steps.releases.outputs.repo
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push
        if: steps.releases.outputs.ariang > steps.releases.outputs.repo || steps.releases.outputs.aria2 > steps.releases.outputs.repo
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/pwatk/aria2-with-webui:latest
