name: Build webui-aria2 image on push
on:
  push:
    branches:
      - webui-aria2
    paths:
      - 'root/**'
      - 'Dockerfile.webui-aria2'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GHCR
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.webui-aria2
          push: true
          tags: ghcr.io/pwatk/aria2-with-webui:webui-aria2
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
